
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>The Paradise-Hotel Website Template | Reservation :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Scripts/jquery.min.js"></script>
    <!---strat-date-piker---->
    <link rel="stylesheet" href="~/Content/jquery-ui.css" />
    <script src="~/Scripts/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1").datepicker();
        });
    </script>
    <!---/End-date-piker---->
    <link type="text/css" rel="stylesheet" href="~/Content/JFGrid.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/JFFormStyle-1.css" />
    <script type="text/javascript" src="~/Scripts/JFCore.js"></script>
    <script type="text/javascript" src="~/Scripts/JFForms.js"></script>


</head>
<body>

    <div class="header_bg">
        <div class="wrap">
            <div class="header">
                <div class="logo">
                    <img src="~/Images/logo.png" alt="">
                </div>
                <div class="h_right">
                    <!--start menu -->
                    <ul class="menu">
                        <li>@Html.ActionLink("Hotel", "Index", "Home")</li> |
                        <li>@Html.ActionLink("Rooms & Suites", "Rooms", "Home")</li> |
                        <li class="active">@Html.ActionLink("View Reservations", "Reservations", "Admin")</li> |
                        <li>@Html.ActionLink("Back to Home", "index", "Admin")</li> |

                    </ul>
                    <!-- start profile_details -->
                    <form class="style-1 drp_dwn">
                        <div class="row">
                            <div class="grid_3 columns">
                                <select class="custom-select" id="select-1">
                                    <option selected="selected">EN</option>
                                    <option>USA</option>
                                    <option>AUS</option>
                                    <option>UK</option>
                                    <option>IND</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>


                


                <div class="clear"></div>
                <div class="top-nav">
                    <nav class="clearfix">
                        <ul>
                            <li class="active"><a href="index.html">hotel</a></li>
                            <li><a href="rooms.html">rooms & suits</a></li>
                            <li><a href="reservation.html">reservation</a></li>
                            <li><a href="activities.html">activities</a></li>
                            <li><a href="contact.html">contact</a></li>
                        </ul>
                        <a href="#" id="pull">Menu</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div>
    <h1>Reservations</h1>

        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/jquery-ui.js"></script>
        <script src="~/Scripts/jquery-1.8.3.min.js"></script>
        <script src="~/Scripts/jquery-1.8.3.js"></script>
        <script src="~/Scripts/jquery-1.8.3.intellisense.js"></script>
        <script src="~/Scripts/JFForms.js"></script>
        <script src="~/Scripts/JFCore.js"></script>
        <script src="~/Scripts/fwslider.js"></script>


    @Ajax.ActionLink("All", "All", new AjaxOptions
           {
               HttpMethod = "Get",
               UpdateTargetId = "divReservations",
               InsertionMode = InsertionMode.Replace

           })
        <span style="color: Blue">|</span>
        @Ajax.ActionLink("Today Check-ins", "checkins", new AjaxOptions
           {
               HttpMethod = "Get",
               UpdateTargetId = "divReservations",
               InsertionMode = InsertionMode.Replace

           })
        <span style="color: Blue">|</span>
        @Ajax.ActionLink("Today Check-outs", "checkouts", new AjaxOptions
           {
               HttpMethod = "Get",
               UpdateTargetId = "divReservations",
               InsertionMode = InsertionMode.Replace

           })
    <div id="divReservations">

    </div>
  </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br />
    <br />
    <br />
    <br />

    <div class="footer_bg">
        <div class="wrap">
            <div class="footer">
                <div class="copy">
                    <p class="link"><span>© All rights reserved | Template by&nbsp;<a href="http://w3layouts.com/"> W3Layouts</a></span></p>
                </div>
                <div class="f_nav">
                    <ul>
                        <li>@Html.ActionLink("Hotel", "Index", "Home")</li>
                        <li>@Html.ActionLink("Rooms & Suits", "Rooms", "Home")</li>
                        <li>@Html.ActionLink("View Reservation", "Reservations", "Admin")</li>

                    </ul>
                </div>
                <div class="soc_icons">
                    <ul>
                        <li><a class="icon1" href="#"></a></li>
                        <li><a class="icon2" href="#"></a></li>
                        <li><a class="icon3" href="#"></a></li>
                        <li><a class="icon4" href="#"></a></li>
                        <li><a class="icon5" href="#"></a></li>

                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>
</html>